<h1>Optimization</h1>
<form action='{% url 'opti:optimize' %}' method="POST">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <select name="weekOfYear" id="weekOfYear">
            {% for week in weeksOfYear %}
                <option value="{{ week }}">{{ week }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input type="submit" value="Optimize">
</form>
<div>
    <h2>Resultado</h2>
    <pre>{{ result }}</pre>
</div>