{% extends "admin/index.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <style>
        .nav-global {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
        .nav-global a.button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 4px;
            margin: 0 10px;
        }
        .nav-global a.button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
    <div class="nav-global">
        {{ farm_link|safe }}
        {{ salughterhouse_link|safe}}
        {{ weeklyTransportCapacity_link|safe }}
        {{ weeklyAnimalTransport_link|safe }}
        {{ weeklySlaughterhouseDemand_link|safe }}
        {{ weeklyFarmAnimalAvailability_link|safe }}
        {{ custom_link|safe }}
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}